#a {width: 500px; /* ширина содержимого */
background: #000000; /* цвет фона страницы */
border-radius: 3em;
padding: 50px; /* внутренние отступы */
margin: 0 auto;
color: #FFFFFF;
float:; /* элемент всплывает влево */
}

#b {width: 500px; /* ширина содержимого */
background: #ecec4e; /* цвет фона страницы */
border-radius: 3em;
padding: 50px; /* внутренние отступы */
margin: 0 auto;
color: #FFFFFF;
float:; /* элемент всплывает влево */
}


#c {width: 500px; /* ширина содержимого */
background: #ecec4e; /* цвет фона страницы */
border-radius: 3em;
padding: 50px; /* внутренние отступы */
margin: 0 auto;
color: #FFFFFF;
float:; /* элемент всплывает влево */
}


#d {float:; /* элемент всплывает влево */
width: 600px; /* ширина содержимого */
border-radius: 3em;
}


#e {float:; /* элемент всплывает влево */
background: #ecec4e; /* цвет фона страницы */
width: 800px; /* ширина содержимого */
margin: 0 auto;
}

#f {width: 400px; /* ширина содержимого */
float:; /* элемент всплывает влево */
background: #ecec4e; /* цвет фона страницы */
padding: 100px; /* внутренние отступы */
margin: 0 auto;
}

img {
border-radius: 1em;
}


iframe {
border-radius: 1em;
}






/*
body {
 background: #ccccff; /* цвет фона страницы */
}
p {
 color: red; /* цвет текста параграфов */
 font-family: Helvetica, sans-serif; /* гарнитура шрифта параграфов */
 font-size: 150%; /* размер шрифта */
 text-align: center; /* текст по центру */
 border: 5px green double; /* стили рамки */
}
*/
